body {
  background-color: darkolivegreen;
}

.sidebar {
  width: 20%;
  float: right;
  margin: 10px;
  border: 8px solid black;
  padding: 15px;
  background-color: darkred;
  text-align: center;
}

h1 {
  margin: 10px;
  border: 8px solid black;
  padding: 15px;
  background-color: darkred;
  text-align: center;
  font-family: fantasy;
}

.h1-header {
  margin: 10px;
  border: 8px solid tan;
  padding: 15px;
  background-color: black;
  text-align: center;
  color: tan
}

img {
  border-radius: 100px;
  margin: 12px;
  border: 2px solid tan;
  padding: 4px;
  background-color: black;
}

.general {
  color: black
}

.important {
  color: tan;
  font-size: 20px;
  font-family: fantasy;
}

.highlight {
  color: darkred;
  font-family: fantasy;
}

.interests {
  font-family: fantasy;
  color: tan;
}

.hobbies {
  font-family: fantasy;
  color: tan;
}

.skills {
  font-family: fantasy;
  color: tan;
}

.column {
  float: left;
  padding: 5px;
  margin: 10px;
  padding: 15px;
  background-color: black;
  text-align: center;
  color: tan;
}

 

 